/*
File:			custom.css
Description:	Custom styles for Thesis
More Info:		http://diythemes.com/thesis/rtfm/custom-css/
*/

img { max-width: 100%; }

/*---:[ social media ]:---*/
.social-media-box { float: right; }
    .social-media-box .social-media-button { margin: .5em; }

#header #logo { font-size: 3.6em; line-height: 1.167em; width: 400px; display: inline-block; }

#content_box { background: url('../lib/images/dot-ddd.gif') 49em 0 repeat-y; }

#content { width: 49em; float: left; }

#sidebars { width: 36em; border: 0; float: right; }

.teasers_box,
.teaser { width: auto; }

.teaser h2 { font-weight: bold; }

img.aligncenter{
  display: inline-block;
}
.thesis_widget_search{
  margin-top: 20px;
}
.thesis_widget_search input.text_input{
  background: white !important;
  width: 270px !important;
  border: 1px solid #D642B8 !important;
}
.thesis_widget_search input#searchsubmit{
  background: #D642B8 !important;
  color: white !important;
  border: 1px solid #D642B8;
}