/*
File:			custom.css
Description:	Custom styles for Thesis
More Info:		http://diythemes.com/thesis/rtfm/custom-css/
*/

img { max-width: 100%; }

/*---:[ social media ]:---*/
.social-media-box { float: right; }
.social-media-box .social-media-button { margin: .5em; }

#header #logo { font-size: 3.6em; line-height: 1.167em; width: 400px; display: inline-block; }

#content_box { background: url('../lib/images/dot-ddd.gif') 49em 0 repeat-y; }

#content { width: 49em; float: left; }

#sidebars { width: 36em; border: 0; float: right; }

.teasers_box,
.teaser { width: auto; }

.teaser h2 { font-weight: bold; }

img.aligncenter{
  display: inline-block;
}
.thesis_widget_search{
  margin-top: 20px;
}
.thesis_widget_search input.text_input{
  background: white !important;
  width: 270px !important;
  border: 1px solid #D642B8 !important;
}

.thesis_widget_search input#searchsubmit{
  background: #D642B8 !important;
  color: white !important;
  border: 1px solid #D642B8;
}

.custom .breadcrumbs {
	font-family:Verdana,Arial;
	font-size:1.2em;
	padding:1.2em 1em 1em 1em;
	/*border-bottom:1px dotted #666;
	border-top:1px dotted #666;*/
}
.custom .breadcrumbs a {
	color:#D642B8;
	border-bottom:1px dotted #fff;
}
.custom .breadcrumbs a:hover {
	border-bottom:1px dotted #D642B8;
}

.entry-content #sidebars {
  border-left: 1px solid #ddd;
  margin-left: 20px;
  width: 22.5em;
  margin-top: 20px;
}

.entry-content ul.sidebar_list {
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 10px;
}

.entry-content #sidebars li.widget {
  margin-bottom: 0px;
}

.entry-content #sidebars li {
  font-size: 15px;
  line-height: 19px;
}

#header {
  /*padding: 0*/
}

#post_ad_middle {
  padding-left: 103px;
}

#post-navigation {
  padding-left: 207px;
  padding-top: 10px;
}

#article-social {
  padding-left: 132px;
}

#post_ad_right iframe {
  left: -60px !important;
}

.format_text img.aligncenter {
  margin-bottom: 0;
}

/*edited by elvismdev 03/02/2014*/